<h1>All Categories.</h1>

{{#each model as |category|}}
  <div>
    <p>{{link-to category.name 'categories.show' category}}</p>
    <p></p>
  </div>
{{/each}}

{{link-to 'Add Category' 'categories.new'}}

{{link-to 'Add Task' 'categories.tasks.new' }}

{{outlet}}
