<h1>All Categories.</h1>

{{#each model as |category|}}
  <div>
    <p>{{link-to category.name 'categories.show' category}}
    <i>{{link-to 'Edit' 'categories.edit' category}}</i>
    </p>
  </div>
{{/each}}

{{link-to 'Add Category' 'categories.new'}}

{{outlet}}
