<form {{action "save" model on="submit"}}>
<h2>{{errorMessage}}</h2>
  <p>
    <label>Name:
      {{input value=model.name}}
    </label>
  </p>
  <input type="submit" value="Save"/>
</form>
<button {{action "cancel" model on="click"}}>Back</button>
